body {
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}



.header {
    display: flex;
    background: #3D52A0;
    font-size: 46px;
    color: whitesmoke;
    padding: 12px;
    justify-content: space-around;
    align-items: center;

}

.links{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    gap: 24px;
}
.content {
    flex: 1;

    /* background: #750D37; */
}

.top-content{
   background: #7091e6; 
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   padding: 32px;
   gap: 32px;

}

.top-content-left {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 18px;
}

.top-content-right {
    display: flex;
}

.top-info-text {
    font-size: 32px;
    font-weight: 900;
    color: whitesmoke;
}

.top-info-subtext {
    color: whitesmoke;
}

.main-button {
    background-color: #EDE8F5;
    border: none;
    color: #4d60aa;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
}

.top-info-picture img{
    display: flex;
    width: 400px;
    border-radius: 16px;
}

.gallery-content {
    background: #EDE8F5;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;

}

.gallery-title {
    font-size: 32px;
    margin-bottom: 32px;
    color: #4d60aa;
}

.gallery-grid {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: space-around;
}

.gallery-card {
    width: 300px;
    flex-direction: column;
    color: #4d60aaea;

}
.gallery-card img {
    display: flex;
    width: 250px;
    border-radius: 16px;
    margin-bottom: 18px;
}

.qoute-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 82px;
    background: #adbada;
}

.qoute-text {
    color: #f2f8fc;
    font-size: 28px;
}

.qoute-author {
    color: #f2f8fc;
    font-size: 24px;
    align-self: flex-end;
}

.action-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.action-card {
    display: flex;
    flex-direction: row;
    width: 500px;
    padding: 32px;
    background: #7191e6;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.action-text-title{
    color: #EDE8F5;
    font-weight: bolder;
    font-size: 24px;
}

.action-text-body{
    color: #EDE8F5;
    font-size: 14px;
}

.action-button {
    background: none;
    border: 2px solid #EDE8F5;
    color: #EDE8F5;
    padding: 15px 32px;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 8px;
    text-wrap: nowrap;

}

.footer {
    display: flex;
    background: #3D52A0;
    font-size: 32px;
    color: whitesmoke;
    padding: 12px;
    justify-content: space-around;
    align-items: center;
}